body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  height: 100px;
  align-items: center;
  font-size: 40px;
  border-bottom: 1px solid grey;
  gap: 40px;
}
header img {
  height: 80px;
  padding-left: 40px;
}

.global input {
  width: 450px;
  height: 40px;
  border: 1px #5c48d3 solid;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 15px;
  background-color: #f2f7fd;
  font-family: "Montserrat", sans-serif;
}

.tot {
  display: flex;
  height: 600px;
  /* background-color: aqua; */
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #5c48d3;
  color: #ffffff;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}
footer span {
  font-weight: bold;
}
